---
- name: Add the GPG key
  ansible.builtin.get_url:
    url: "{{ gpg_key_url }}"
    dest: "{{ gpg_key_file }}"
    owner: root
    group: root
    mode: '644'

- name: Add the Jenkins repository to APT sources
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ gpg_key_file }}] {{ base_jenkins_url }} binary/"
    state: present
    filename: jenkins

- name: Install packages
  loop: "{{ jenkins_packages }}"
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  notify: Start Jenkins service
