---
- name: Install prerequisite packages
  loop: "{{ dependencies }}"
  ansible.builtin.apt:
    update_cache: true
    name: "{{ item }}"

- name: Add the Jenkins repository with embedded key
  ansible.builtin.deb822_repository:
    name: jenkins
    types: ["deb"]
    uris: "{{ base_jenkins_url }}"
    suites: "binary/"
    signed_by: "{{ gpg_key_url }}"
    enabled: true

- name: Install packages
  loop: "{{ jenkins_packages }}"
  ansible.builtin.apt:
    update_cache: true
    name: "{{ item }}"
  notify: Start Jenkins service
