---
- name: Add the GPG key
  ansible.builtin.get_url:
    url: "{{ key_url }}"
    dest: "{{ keyrings }}"
    owner: root
    group: root
    mode: '644'

- name: Add the Jenkins repository to APT sources
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ keyrings }}] https://pkg.jenkins.io/debian-stable binary/"
    state: present
    filename: jenkins

- name: Install packages
  ansible.builtin.apt:
    name: "{{ item }}"
  loop:
    - openjdk-21-jre
    - jenkins
